body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #c9e6bd;
}
.top{
    display: flex;
}
.top > div{
    padding-right: 20px;
    color: white;
}
.top > div:hover{
    color: rgb(22, 218, 55);
    cursor: pointer;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.second > div{
    display: flex;
    justify-content: space-evenly;
}
